{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listngs %}
            <li>
                 <h2>{{listing.title}}</h2> 
                 {{listing.description}}
                
                 id: {{ listing.listingid }}
                 
                 
                 hbid: {{listing.hbid   }}
                 

                 
                 
                

                 {% if listing.imageurl %}
                    hello there
                    {{listing.imageurl}}
                    <img src={{listing.imageurl}} />
                 {% endif %}
            </li>
        {% endfor %}


        

    </ul>
{% endblock %}