{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}
            <li>
                 <h2>{{listing.title}}</h2> 
                 Description: {{listing.description}}
                <br>
                 Listing ID: {{ listing.listingid }}
                 <br>
                 
                 Current Price: {{listing.hbid   }}
                 

                 
                 
                

                 {% if listing.imageurl %}
                    
                    <img src={{listing.imageurl}} />
                 {% endif %}
            </li>
        {% endfor %}


        

    </ul>
{% endblock %}