{% extends "auctions/layout.html" %}

{% block body %}
    

    <ul>
       
            <li>
                 
                 
                 <h2><a href="{% url 'listingpage' listing_id=listing.listingid %}">{{listing.title}}</a></h2> 
                 Description: {{listing.description}}
                <br>
                 Listing ID: {{ listing.listingid }}
                 <br>
                 
                 Current Price: {{listing.hbid   }}
                 
                 {% if listing.imageurl %}
                    
                    <img src={{listing.imageurl}} />
                 {% endif %}

                {% if user.is_authenticated %}
                    <form action="{% url 'listingpage' listing_id=listing.listingid %}" id="watchlist" method="post">
                        {% csrf_token %}
                        {% if watch %}
                            <input type="hidden" name="watchlistremove" value="form1">
                            <input type="submit",id='watchlist',name= "watchlist", value="Remove from Watchlist">
                        {%else%}
                            <input type="hidden" name="watchlistadd" value="form1">
                            <input type="submit",id='watchlist',name= "watchlist", value="Add to Watchlist">
                        {%endif%}
                        
                    </form>

                    {% if listing.closed == False  %}
                        
                        
                        {% if listing.usrid_id == user.id %}
                            <form action="{% url 'listingpage' listing_id=listing.listingid %}" method="post">
                                {% csrf_token %}
                                
                                    <input type="hidden" name="closeauction" value="form1">
                                    <input type="submit",id='closeauction',name= "closeauction", value="Close Auction">
                                
                                    
                                
                                
                            </form>
                        {%else%}
                            
                        <form action="{% url 'listingpage' listing_id=listing.listingid %}" method="post">
                            {% csrf_token %}
                            <br>
                            {{ listingpageform }}
                            <input type="submit",name= "listingpageform", value="Save">
                            
                        </form>

                        {%endif%}

                    {%else%}
                        <form action="{% url 'listingpage' listing_id=listing.listingid %}" method="post">
                            {% csrf_token %}
                            {% if listing.usrid_id == user.id %}

                                        <input type="hidden" name="openauction" value="form1">
                                        <input type="submit",id='openauction',name= "openauction", value="Open Auction">
                                    
                            {%endif%}
                        </form>
                    {% endif %}
                    
                    <br>
                    <br>
                    <form action="{% url 'listingpage' listing_id=listing.listingid %}" method="post">
                        {% csrf_token %}
                        {{ comments }}
                        <input type="submit",name= "comments", value="Save">
                        
                    </form>
                {% endif %}
                <br>
                
            </li>
            
            {%for commnt in cmntz%}
                    <br>
                    <br>
                    {{commnt.comment}} by 
                    {{commnt.username}} at
                    {{commnt.datetim}}

            {%endfor%}
            

        

    </ul>
{% endblock %}